<div class = "conference row" style = "margin: 2% 0% 3% 0%;">
  <div class="col-lg-12 text-center about-header-img">
    <h2 class = "section-heading">Gallery</h2>
    <h3 class = "section-subheading text-muted">A collection of our fondest memories</h3>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
   	<%@galleries.each_with_index do |gallery, index|%>
			<div class="col-lg-3 col-sm-4 col-xs-6"><a class = "fancybox" title="Image <%=index+1%>" href="<%=gallery.image_url%>"><img class="thumbnail img-responsive" src="<%=gallery.image_url%>"></a></div>
		<%end%>
  </div>
</div>

<script type = "text/javascript">
$(".fancybox")
  .attr('rel', 'gallery')
  .fancybox({
    helpers : {
        overlay : {
            css : {
                'background' : 'rgba(0, 0, 0, 0.8)'
            }
        }
    }
});
</script>
