<div class = "section">
  <div class = "container cmt_container">

    <div class="row" style = "margin-bottom: 3%; margin-top: 2%;">
      <div class="col-lg-12 text-center travel-header-img">
        <h2 class = "section-heading">Upcoming Conferences</h2>
        <h3 class = "section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
      </div>
    </div>

    <div class = "row object-non-visible animated object-visible fadeIn" data-animation-effect = "fadeIn">
      <div class = "col-md-12">
        <div style = "height: auto;" class = "isotope-container row grid-space-20">
          <%@tconferences.each do |tcon|%>
            <div style = "height: auto;" class = "col-sm-6 col-md-3 isotope-item web-design">
              <div class = "image-box">
                   <div class = "overlay-container travel_modal">
                      <a class = " testtcon" id = "<%=tcon.id%>" data-toggle = "modal" data-target = "#project-1" href="#">
                    <%=tcon.name%>
                  </a>
                </div>
              <div class = "btn-block" data-toggle = "modal" data-target = "#project-1"><%=tcon.season%></div>
            </div>

            <div class = "modal fade" id = "<%= tcon.id %>tcon" tabindex = "-1" role = "dialog" aria-labelledby = "myModalLabel" aria-hidden = "true">
              <div class = "modal-dialog">
                <div class = "modal-content">
                  <div class = "modal-header">

                    <button type = "button" class = "close" data-dismiss = "modal" aria-hidden = "true">&times;</button>
                    
                    <h2 class = "modal-title modal-title-header" id = "myModalLabel"><%=tcon.name%></h2>
                  </div>
                  <div class = "modal-body">
                  
                    <p>
                      <span class = "committee_chair committee-subheading">
                        :
                      </span>
                      <span class = "chair-name">
                        <%=tcon.short_name%>
                      </span>
                    </p>
                    <p>
                      <span class = "committee_chair">
                       :
                      </span>
                      <span class = "chair-name">
                        <%=tcon.start_date%>
                      </span>
                    </p>

                </div>
              </div>
            </div>
            </div>
        </div>
          <%end%>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$(window).load(function(){
    $('.testtcon').on('click',function()
                {    var id =$(this).attr("id")
                    // var sr=$(this).attr('src'); 
                    // $('#mimg').attr('src',sr);
                    $('#'+id+"tcon").modal('show');
                });
});
(function()
{
  if( window.localStorage )
  {
    if( !localStorage.getItem( 'firstLoad' ) )
    {
      localStorage[ 'firstLoad' ] = true;
      window.location.reload();
    }  
    else
      localStorage.removeItem( 'firstLoad' );
  }
})();
</script>