<section id = "team" class = "bg-light-gray" style = "padding:0px 0px;">
  <div class = "container a faq">

    <div class="row" style = "margin-bottom: 3%;">
      <div class="col-lg-12 text-center " style = "background-image: url('/assets/conference-title.jpg'); background-size: cover;">
        <h2 class = "section-heading">Frequently Asked Question</h2>
        <h3 class = "section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
      </div>
    </div>
    
    <div class = "row faqtable" style = "margin-top: 40px;">
      <%@faqs.each do |faq|%>
      <div class = "content container">
        <div class = "page-wrapper">
          <%faq.questions.each do |question|%>
            <div class = "page-content">
              <div class = "row page-row">
                <div class = "faq-wrapper col-md-8 col-sm-7">
                  <div class = "panel-group" id = "accordion">
                    <div class = "panel panel-default">
                      <div class = "panel-heading">
                        <h4 class = "panel-title " style = "margin-top: 10px; cursor: pointer">
                          <div class = "cmt_button11" id="<%=question.id%>">
                            <%= link_to question.question, "javascript:void(0)", class: " ", style: "color: black;"%>
                            <i class="fa fa-plus-circle" style = "float: right;"></i>
                          </div>
                        </h4>
                      </div><!--//pane-heading-->
                      <div style = "display: none;" id = "<%=question.id%>div">
                        <div class = "panel-body">
                          <%=question.answer.html_safe%>
                        </div><!--//panel-body-->
                      </div><!--//panel-colapse-->            
                    </div><!--//panel-->
                  </div>
                </div>
              </div>
            </div>
          <%end%>
        </div>
      </div>
      <%end%> 
    </div>
  </div>
</section>

<script type="text/javascript">
$(document).ready(function(){
$(".cmt_button11").click(function(){
    var id =$(this).attr("id")
    $("#"+id+"div").toggle();
    
  });
});
</script>