<section id = "team" class = "bg-light-gray" style = "padding:0px 0px;">
  <div class = "container a faq">

    <div class="row" style = "margin-bottom: 3%; margin-top: 2%;">
      <div class="col-lg-12 text-center header-img">
        <h2 class = "section-heading">Frequently Asked Questions</h2>
        <h3 class = "section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
      </div>
    </div>
    
    <div class = "row faqtable" style = "margin-top: 5%; margin-bottom: 5%;" align="center">
      <%@faqs.each do |faq|%>
      <div class = "content container faqs" align="center">
        <div class = "page-wrapper" style="margin-left: 20%;">
          <%faq.questions.each do |question|%>
            <div class = "page-content">
              <div class = "row page-row">
                <div class = "faq-wrapper col-md-8 col-sm-7" align="center">
                  <div class = "panel-group" id = "accordion">
                    <div class = "panel panel-default">
                      <div class = "panel-heading dropdown" id = "<%=question.id%>div">
                        <%= link_to question.question, "javascript:void(0)", class: "cmt_button11 faqs-question panel-title" %>
                        <div style = "display: none;" class = "dropdown-container">
                          <div class = "panel-body">
                            <%=question.answer.html_safe%>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <%end%>
        </div>
      </div>
      <%end%> 
    </div>
  </div>
</section>
<script type="text/javascript">
$(document).ready(function(){

  $(".cmt_button11").click(function(e){
    e.preventDefault();
    var $div = $(this).next('.dropdown-container');
    $(".dropdown-container").not($div).hide();
    if ($div.not(":visible")) {
      $div.show();
    }
  });
});
</script>