<div class="conference-columns">
  <div class="container-fluid">
        <div class = "column-1 col-md-2">
          <h1><%=link_to "Overview", overviews_path()%></h1>
        </div>
        <div class = "column-2 col-md-2">Deadlines</div>
        <div class = "column-3 col-md-2">Registration</div>
        <div class = "column-4 col-md-2">Schedule</div>
        <div class = "column-5 col-md-2">Committees</div>
        <div class = "column-6 col-md-2">Speakers</div>
    </div>
</div>