<div class="container" id="pricing-section">
  
  <div class="row" style = "margin-bottom: 3%;">
    <div class="col-lg-12 text-center " style = "background-image: url('/assets/conference-title.jpg'); background-size: cover;">
      <h2 class = "section-heading">Fees and Timeline</h2>
      <h3 class = "section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
    </div>
  </div> 
  
  <div class="main-low-margin col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 margin-top-100 ">
    <div id="pricing-table" class="row">
      <% @deadlines.each do |dead|%>
        <div class="col-md-4 col-sm-4">
          <ul class="plan-main">
            <li class="plan-name"><%= dead.phase_id %></li>
            <li><%=dead.date.strftime("%e %B, %Y")%></li>
            <li><span class = "plan-dollar">$</span>
                <span class= "plan-price"><%= dead.fee %></span>
            </li>
            <li>
                <span class = "plan-delegate">Per Delegate</span>
            </li>
            <li class = "plan-info"><%=dead.deadline_info%></li>
            <li class="plan-action">Register</li>
          </ul>
        </div>
      <%end%>
    </div>              
  </div>
</div>