<div class="div_height">
  <h1 class="text-center" style="background-color:#404da2;margin-bottom:10px;height: 85px;
  padding-top: 17px;color:white;">DEADLINE</h1>
  <div class="row">
    <% @deadlines.each do |dead|%>
      <div class="col-xs-6 col-md-3 ta">
        <div class="thumbnail deadline_thumnail">
          <img src="assets/images.jpg" alt="" class="img-circle deadline_img img-responsive ">
          <h4 class="deadline_head"><%=dead.phase_id%></h4>
          <h4 class="deadline_head2"><%=dead.date.strftime(" %Y")%></h4>
          <div class="caption">
            <div class="deadline_fee"><%=dead.fee%></div>
            <div class="deadline_info"><%=dead.deadline_info%></div>
          </div>
        </div>
      </div>
    <%end%>
  </div>
</div>