<div class="container">
  
  <div style = "display: flex;">
    
    <div class="col-md-6 col-sm-12 pages-block">
	  <h1 class = "pages-title">
	    What is MUN?
	  </h1>
	  <p class = "pages-description">
	    As an organization, we teach members how to emulate the United Nations. Members step in the shoes of foreign diplomats and take on their perspective in order to come up with solutions to complet global problems. At these conferences, student delegates debate current events, give speeches, draft policy resolutions, form political alliances and resolve international conflicts - all from the perspective of their assigned country. In doing so, Model UN brings together curious students with a passion for exploring the world’s most challenging problems.
	  </p>
	  <p class = "pages-description">
	    Model United Nations at UCSD additionally aims to help participants practice public speaking, elevate the depth of research papers, and be a more confident version of themselves. Our dedicated Secretariat believes in training an army of erudites, capable of analyzing and questioning every governmental action and institutional goal. It’s our world; we don’t just live in it.
	  </p>			
    </div>
    
    <div class = "col-md-6 col-sm-12 pages-block">
  	  <img src = "assets/f2.jpg" class = "img-responsive" style = "height: 100%; width: 100%;">
  	  <div class = "image-text">
  	    Club members celebrating after concluding another successful home conference.
  	  </div>
    </div>
  </div>

  <div class="col-md-12 pages-block">
	<h1 class="pages-title">
	  How can I join?
	</h1>
	<p class = "pages-description">
      Check us out on library walk during Welcome Week. Our meeting/training times will be posted on our website and are open to the public. You can look up special events on our calendar or stay up-to-date by following our <a href="https://www.facebook.com/ModelUnitedNationsAtUcsd">Facebook</a> page.
	</p>
    <p class = "pages-description">
      Our club consists of three branches:
    </p>
    <ul class = "pages-list">
      <li>Travel Team</li>
      <li>TritonMUN Home Conference</li>
      <li>SDIMUN Collegiate Conference</li>
    </ul>
  </div>
  
  <div class = "col-md-12 pages-block">
	<h1 class="pages-title">
	  What is the Travel Team?
	</h1>
	<p class = "pages-description">
	  As part of the Travel Team, you will get to visit exciting places such as Boston, Los Angeles, Chicago, San Francisco and New York. All of which will be subsidized by the club. Each individual trip requires interviewing and evaluating applicants based on club involvement, debate abilities and most importantly, enthusiasm. Everyone is welcome to attend trainings.
	</p>
	<p class = "pages-description">
      The travel team prides itself in community bonding and mutual support at conferences.We hope to grow together while competing abroad and, here, at home. To learn more about the travel team, email us at <a href = "mailto:travelingtritons@gmail.com">travelingtritons@gmail.com</a> or visit our 
        <a href="https://www.facebook.com/ModelUnitedNationsAtUcsd">Facebook</a> page.
    </p>
  </div>

  <div class = "col-md-12 pages-block" >
	<h1 class="pages-title">What is TritonMUN?</h1>
    <p class = "pages-description">
	  Triton Model United Nations is the name of the home conference series hosted by MUN at UCSD. The conference is entirely run by UCSD students who are committed to bringing global topics to the local community by providing the opportunity for students to practice diplomacy, networking, and public speaking.
	</p>
    <p class = "pages-description">
      Every year, our team puts on two conferences: a one-day fall conference, and a two-day spring conference. The aim of each conference is to expose students to key international issues, build students’ public speaking skills and help them to understand different social, political and economic perspectives. We believe that in doing so, we help build a more perceptive and understanding generation.
    </p>
    <p class = "pages-description">
      Over the past few years, our TritonMUN team has been enthusiastically growing to unprecedented heights. In addition to our expanding high school conferences, new branches of our club are developing plans to host our first-ever collegiate conference and a joint conference with the United Nations Association, San Diego. Contact us at <a href = "mailto:tritonmun.ucsd@gmail.com">tritonmun.ucsd@gmail.com</a> or visit our Contact Us page for more information.
    </p>
  </div>
</div>