<section class="container animated fadeInUp notransition">
		<!-- 1ST ROW
	================================================== -->
		<div class="row">
			<!-- BLOCK 1 -->
			<div class="col-md-6" style="width:100%; float:left;">
				<h1 class="faqstitle"><span class="icon-tags faqsicon"></span> What is Model United Nations?</h1>
			    <h3>As an organization, we teach members how to emulate the United Nations. Members step in the shoes of foreign diplomats and take on their perspective in order to come up with solutions to complet global problems. At these conferences, student delegates debate current events, give speeches, draft policy resolutions, form political alliances and resolve international conflicts - all from the perspective of their assigned country. In doing so, Model UN brings together curious students with a passion for exploring the world’s most challenging problems.

			    Model United Nations at UCSD additionally aims to help participants practice public speaking, elevate the depth of research papers, and be a more confident version of themselves. Our dedicated Secretariat believes in training an army of erudites, capable of analyzing and questioning every governmental action and institutional goal. It’s our world; we don’t just live in it.</h3>
				
			</div>
			<!-- end block 1 -->
			<!-- BLOCK 2 -->
			<div class="col-md-6" style="width:100%; float:left;">
				<h1 class="faqstitle"><span class="icon-flag faqsicon"></span> THow can I join?</h1>
				<h3>Check us out on library walk during Welcome Week. Our meeting/training times will be posted on our website and are open to the public. You can look up special events on our calendar or stay up-to-date by following our Facebook page.

                Our club consists of two branches:

                the Travel Team and
                the TritonMUN Home Conference</h3>
			</div>
			<!-- end block 2 -->
		</div>
		<!-- 2ND ROW
	================================================== -->
		<div class="row">
			<!-- BLOCK 3 -->
			<div class="col-md-6" style="width:100%; float:left;">
				<h1 class="faqstitle"><span class="icon-tasks faqsicon"></span> What is the Travel Team?</h1>
				<h3>As part of the Travel Team, you will get to visit exciting places such as Boston, Los Angeles, Chicago, San Francisco and New York. All of which will be subsidized by the club. Each individual trip requires interviewing and evaluating applicants based on club involvement, debate abilities and most importantly, enthusiasm. Everyone is welcome to attend trainings.

                The travel team prides itself in community bonding and mutual support at conferences.We hope to grow together while competing abroad and, here, at home. To learn more about the travel team, email us at travelingtritons@gmail.com or visit our Facebook page.

</h3>
			</div>
			<!-- end block 3 -->
			<!-- BLOCK 4 -->
			<div class="col-md-6" style="width:100%; float:left;">
				<h1 class="faqstitle"><span class="icon-tint faqsicon"></span>What is TritonMUN?</h1>
				<h3>Triton Model United Nations is the name of the home conference series hosted by MUN at UCSD. The conference is entirely run by UCSD students who are committed to bringing global topics to the local community by providing the opportunity for students to practice diplomacy, networking, and public speaking.

               Every year, our team puts on two conferences: a one-day fall conference, and a two-day spring conference. The aim of each conference is to expose students to key international issues, build students’ public speaking skills and help them to understand different social, political and economic perspectives. We believe that in doing so, we help build a more perceptive and understanding generation.

               Over the past few years, our TritonMUN team has been enthusiastically growing to unprecedented heights. In addition to our expanding high school conferences, new branches of our club are developing plans to host our first-ever collegiate conference and a joint conference with the United Nations Association, San Diego. Check out our calendar for upcoming dates or contact us at tritonmun.ucsd@gmail.com .</h3>
			</div>
			<!-- end block 4 -->
		</div>
		</section>