<div class="innerBox container" style="text-align:left;">
 	<div class="col-md-6" style = "margin: 5% 0%;">
 		<h2 class="position-paper-submission-title">Submission Instructions</h2>
 		<div class="col-md-8" style = "margin-left: 10%;"> 
      <ol class="pos">
        <li class = "position-paper-list">
          Save your paper as .doc, .docx or .pdf file:<br><br>
          <em>Committee-Country.pdf</em><br>
          <br>
          1st-Afghanistan.pdf<br>
          UNDP-Brazil.pdf<br>
          UNESCO-DPRK.pdf<br>
          SC-China.pdf<br>
        </li>
        <li class = "position-paper-list">
          Email to <em>tritonpositionpapers@gmail.com</em><br>
          In the SUBJECT of your email, include your Committee and your Country Name
        </li>
        <li class = "position-paper-list">
          Save your email and the receipt. All submissions will receive an official receipt.
          If you did not get an official receipt within 24 hours, we did not receive your position paper.
          Failure to format or submit position papers correctly may result in lost position papers.
        </li>
      </ol>
    </div>
  </div>
    
  <div class="col-md-6" style = "margin: 5% 0%;">
    <h2 class="position-paper-formatting-title">Formatting Requirements</h2>
    <div class="col-md-8" style = "float: right; margin-right: 10%"> 
      <ul class="pos">
        <li class = "position-paper-list">Position papers should be Times New Roman 12, and 1,000-1,500 words (not including in-text citations and
          bibliography). </li>
        <li class = "position-paper-list">All position papers MUST include a bibliography, and in-text citations.</li>
        <li class = "position-paper-list">Plagiarism of any kind will not be tolerated and may greatly affect your eligibility for a committee award. </li>
        <li class = "position-paper-list">Please follow all of the formatting in the example paper below.   You will be graded on your ability to follow directions. </li>
      </ul>
    </div>
  </div>
</div>
<div class="row faqtable" style="margin-top: 5%; margin-bottom: 5%;">
      <div class="content container faqs">
        <div class="page-wrapper">
            <div class="page-content">
              <div class="row page-row">
                <div class="faq-wrapper col-md-8 col-sm-7">
                  <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title " style="margin-top: 10px; cursor: pointer">
                          <h2 style="text-align:center;"><span>Resources</span></h2>
                            <ul class="res" style="margin-left:33px;">
                    <li class="resource"><a href="http://international.nytimes.com/">New York Times</a></li>
                    <li  class="resource"><a href="http://www.bbc.com/news/world/">BBC World News</a></li>
                    <li  class="resource"><a href="http://www.reuters.com/news/world">Reuters</a></li>
                    <li  class="resource"><a href="https://www.cia.gov/library/publications/the-world-factbook/">CIA World Factbook</a></li>
                    <li  class="resource"><a href="http://www.economist.com/">The Economist</a></li>
                    <li  class="resource"><a href="http://www.un.org/News/">UN News Center</a></li>

                  </ul>
                          </div>
                        </h4>
                      </div><!--//pane-heading-->
                  </div>
                </div>
              </div>
            </div>
        </div>
        </div>
      </div>
    </div>