<div class="innerBox container" style="text-align:left;">
  <div class="col-md-12" style = "margin: 5% 0%; float:left;">
    <h2 class="position-paper-submission-title" style="text-align:center;">Regulations</h2>
    <div class="col-md-12" style = "margin-left: 10%;">
    <p style="padding-top:5px; padding-bottom:5px;">
      Please follow all committee rules and regulations. Failure to do so may result in loss of diplomacy points and in severe cases, expulsion from committee.</p>
      <div class="col-md-8" style = "margin-left: 131px;"> 
        <p style="padding-top:10px;padding-bottom: 10px;"><span class="" style="font-weight:bold;">No cellphones,</span>
        iPads, tablets, or other electronic devices in committee. If a delegate wishes to use their cellphone in an emergency, they may respectfully exit the room. Delegates who make a habit of this may be asked to leave.</p>


        <p style="padding-top:10px;padding-bottom: 10px;">Delegates MAY use their<span class="" style="font-weight:bold; padding-left:4px;">laptops</span>
        to type resolutions during unmoderated caucus only. Draft resolutions will be submitted to their Chair via email or a flash drive. Under no circumstances may delegates use their laptops for other purposes. Delegates will be provided with a sample resolution and list of preoperative and operative clauses.</p>


        <p style="padding-top:10px;padding-bottom: 10px;"><span class="" style="font-weight:bold;">Pre-written resolutions</span>
        are forbidden and are grounds for disqualification of committee awards. This includes operative clauses, preoperative clauses, or any variation thereof, written out before committee session begins or the topic is introduced.</p>


        <p style="padding-top:10px;padding-bottom: 10px;"><span class="" style="font-weight:bold;">Plagiarism</span>
        is a serious offense and may be grounds for disqualification of committee awards. All Chairs will be checking for plagiarism through various devices. In order to avoid plagiarism, cite all sources in your position paper, and avoid quoting or paraphrasing. You may instead combine or restructure information to come to a different conclusion, using entirely different words and phrases.
        </p>


        <p style="padding-top:10px;padding-bottom: 10px;">
       Delegates are expected to cease their conversation at the bang of the gavel. The gavel signifies the end of a moderated or unmoderated caucus and the end of a speech. During speeches, Chairs will tap the gavel with 10 seconds left, and bang the gavel at the end of your speech. During comments, Chairs will tap the gavel with 5 seconds left, and bang the gavel at the end of your comment. The taps signifies to a delegate to wrap up their point. After the bang of the gavel, they may finish their phrase but may not start a new sentence or conjunction.</p>
    </div>
    </div>
  </div>
</div>