<div class="row faqtable" style="margin-top: 5%; margin-bottom: 5%;">
      <div class="content container faqs">
        <div class="page-wrapper">
            <div class="page-content">
              <div class="row page-row">
                <div class="faq-wrapper col-md-8 col-sm-7">
                  <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title " style="margin-top: 10px; cursor: pointer">
                          <h2 style="text-align:center;"><span>Resources</span></h2>
                            <ul class="res" style="margin-left:33px;">
						        <li class="resource"><a href="http://international.nytimes.com/">New York Times</a></li>
						        <li  class="resource"><a href="http://www.bbc.com/news/world/">BBC World News</a></li>
						        <li  class="resource"><a href="http://www.reuters.com/news/world">Reuters</a></li>
						        <li  class="resource"><a href="https://www.cia.gov/library/publications/the-world-factbook/">CIA World Factbook</a></li>
						        <li  class="resource"><a href="http://www.economist.com/">The Economist</a></li>
						        <li  class="resource"><a href="http://www.un.org/News/">UN News Center</a></li>

      						</ul>
                          </div>
                        </h4>
                      </div><!--//pane-heading-->
                  </div>
                </div>
              </div>
            </div>
        </div>
        </div>
      </div>
    </div>