<div class="travel-resources">
  <h2 class="travel-resources-title">Resources</h2>
  
  <ul class="travel-resources-list">
		
    <li class="travel-resources-list-item">
      <a href="https://docs.google.com/document/d/1Yu1DsvBrFygY_UFnhWjfyh2KaBBmrxgwvSg3eu5X4CY/edit?usp=sharing/" class = "travel-resources-list-item-link">
        Research Guide
      </a>
    </li>
		
    <li  class="travel-resources-list-item">
      <a href="https://docs.google.com/document/d/19ZjsR2OCHQOBEr5ssQFzu7V8Pq5EaAC1QMBXuxXe1xo/edit?usp=sharing" class = "travel-resources-list-item-link">
        Writing a Good Position Paper
      </a>
    </li>

		<li  class="travel-resources-list-item">
      <a href="https://docs.google.com/document/d/1YNE4RVbtf8DT0Gc-v6VzMob6EfpsSJyCgLcpXbFRAPw/edit?usp=sharing" class = "travel-resources-list-item-link">
        Sample Resolution with Annotations
      </a>
    </li>
		
    <li  class="travel-resources-list-item">
      <a href="https://docs.google.com/document/d/1pL9xciKBxaCLV8k2PyBmQGjTPMV-jnjXCh7bZWvCfTg/edit?usp=sharing" class = "travel-resources-list-item-link">
        Preambulatory Clauses and Operative Clauses
      </a>
    </li>
		
    <li  class="travel-resources-list-item">
      <a href="https://docs.google.com/document/d/12R-zGdH7k1XzjLktFMymZYr-eQcxZwUY_rM_pl3bA00/edit?usp=sharing" class = "travel-resources-list-item-link">
        Official United Nations Association MUN Glossary
      </a>
    </li>
  </ul>
</div>