<div class="innerBox container" style="text-align:left;">
  <div class="col-md-6" style = "margin: 5% 0%; float:left">
    <h2 class="position-paper-submission-title">Seven Steps to Success</h2>
    <div class="col-md-12" style = "margin-left: 10%;">
    <p style="padding-top:10px; padding-bottom:10px;">
      Researching your topic is the most valuable way to prepare for debate. By being more knowledgeable about
      the issue, you will not only come up with more realistic solutions, but will also impress your chair and</p>
      <h3 class="research_h3">
      fellow delegates. We suggest you tackle the task in these 7 steps:</h3>
      <div class="col-md-10" style = ""> 
      <ol class="pos">


        <li ><h3 class="pos_h3">Read your committee’s topic synopsis</h3>
        Our chairs have worked hard to inform you about the most useful events, documents, and participants involved.
        Take it as a guideline for further research.</li>


        <li ><h3 class="pos_h3">Review the Questions to Consider</h3>
        By finding answers to these questions, you will be able to engage in the conversation in debate and streamline
        your research. Be prepared to answer these questions in the sections of your paper, the contents of your speech,
        or the discussions in committee.</li>


        <li><h3 class="pos_h3">Look into the Suggested Sites</h3>
        Your chairs thoughtfully listed websites which might help you understand the topic. However, do not stop at
        those. Explore those newspapers or historical sites, and look for similar articles. Keep track of what you
        visit by copying and pasting the weblink to a document. It will help you when it comes time to format your
        bibliography! Make sure all of your sources are credible. *Note: Wikipedia is NOT a credible source, nor are
        blogs, forums, or websites with unpublished material. For help formatting your bibliography,
        visit <a href="http://www.citationmachine.net/mla">citationmachine.net</a></li>


        <li><h3 class="pos_h3">Take notes of key details (events, people, organizations, countries, documents)</h3>
        Make an outline of the important details so you are sure to include them in your paper. It will aid you in
        organizing the sections of your paper and help keep you from plagiarizing, as your chair will be checking for
          that.</li>


        <li><h3 class="pos_h3">Explain in your own words the information requested in the <a href="position_papers">Position Paper Guide.</a></h3>
        Be as specific as possible with correct dates, titles and most importantly, examples! Feel free to be a
        little creative. Your chairs want to hear your knowledge and your voice.</li>


        <li><h3 class="pos_h3">Review and edit your paper</h3>
        Cut out extra words and add as much useful information as possible. This might require more research to
        add examples and details where needed.</li>


        <li><h3 class="pos_h3">Refine and finish</h3>
        Make sure your paper is properly formatted with a heading in the top left corner and in-text citations. Visit
          <a href="http://www.citationmachine.net/mla">citationmachine.net</a>
        to get your bibliography formatted. Review one last time for spelling or grammatical errors. Then turn in
        your paper by following the directions carefully!</li>
      </ol>
    </div>
    </div>
  </div>
    
  <div class="col-md-3" style = "margin: 5% 0% 5% 15%; float:left;">
    <h2 class="position-paper-formatting-title">Resources</h2>
    <div class="col-md-8" style = "float: right; margin-right: 10%"> 
      <ul class="conferences-resources-list">
        <li class="list-item">
          <a href="http://international.nytimes.com/" class = "list-item-link">
            New York Times
          </a>
        </li>
        <li  class="list-item">
          <a href="http://www.bbc.com/news/world/" class = "list-item-link">
            BBC World News
          </a>
        </li>
        <li  class="list-item">
          <a href="http://www.reuters.com/news/world" class = "list-item-link">
            Reuters
          </a>
        </li>
        <li  class="list-item">
          <a href="https://www.cia.gov/library/publications/the-world-factbook/" class = "list-item-link">
            CIA World Factbook
          </a>
        </li>
        <li  class="list-item"><a href="http://www.economist.com/" class = "list-item-link">
          The Economist
        </a>
      </li>
        <li  class="list-item"><a href="http://www.un.org/News/" class = "list-item-link">UN News Center</a></li>
      </ul>
    </div>
  </div>
</div>

    </div>
