<div class = "letter-sg-img img-responsive">
  		<img src = "/assets/sg-img.jpg">
  	</div>
  	<div class = "overview-letter-content">
	<p class = "overview-letter-greet">Honorable Delegates and Advisers,</p>
    <div class = "overview-letter-body">
	<p class = "overview-letter-body-p">Welcome to the eleventh session of Triton Model United Nations, Spring 2015. This year&#39;s conference will be hosted at Price Center on the University of California, San Diego campus from Saturday, April 25th to Sunday, April 26th, 2015.</p>

	<p class = "overview-letter-body-p">Our conference has grown rapidly in previous years, so we are excited to announce the expansion of committees to a total of twelve. Along with our General Assembly and specialized committees, we are eagerly anticipating a European Union committee and the return of our fast-paced joint crisis committees. The aim of these committees is to foster diplomacy among delegates by blending a diversity of ideas into comprehensive and farsighted solutions. These solutions will be reached through tactful debate by molding idealistic goals into realistic strategies.</p>

	<p class = "overview-letter-body-p">Our Chairs are looking forward to discussing the complexities of international issues, with emphasis on excellence in research, critical analysis and creative problem solving. We will be hosting a guest speaker in each committee who specializes in the topic to offer delegates their realm of experience when evaluating the multifaceted nature of their topics. The guest speakers range from activists in San Diego&rsquo;s United Nations Association, to distinguished researchers and internationally focused professionals.</p>

	<p class = "overview-letter-body-p">Registration is now&nbsp;<a href="http://goo.gl/forms/t1JlnCYcU9">open</a>!</p>

	<p class = "overview-letter-end-p">Warmest regards,</p>

	<p class = "overview-letter-end-p">Andrew Muse-Fisher&nbsp;<br />
	   Secretary General</p>
	</div>
	</div>
  </div>
<div class = "letter-sg-img img-responsive">
  		<img src = "/assets/sg-img.jpg" style = "width: 250px; border-radius: 100%" >
  	</div>
  	<div class = "overview-letter-content">
	<p class = "overview-letter-greet">Honorable Delegates & Esteemed Advisors,</p>
    <div class = "overview-letter-body">
	<p class = "overview-letter-body-p">The Model United Nations at UC San Diego is pleased to announce the 12th iteration of Triton Model United Nations, to be held at UCSD´s Price Center.
     Following the tradition of the fall conference, TritonMUN XII will have fast paced, tight-knit committees that foster debate and diplomacy. Welcoming delegates of all experience levels, TritonMUN XII will provide delegates with an engaging experience where they can build their negotiation, research, and writing skills.</p>

    <p class = "overview-letter-body-p">The purpose of participating in Model United Nations is promoting United Nations culture and fostering interest in the complexities and nuances of International Relations and Global Policy. In the spirit of this principle we are having an array of committees that explore a series of current events and global issues of interest to the development of an expanding global society. A committee that deals with the incredibly controversial issue of the proliferation of nuclear energy in developing nations, and the very important question of how to manage nuclear waste. The issue of asymmetrical warfare and how it has changed the relations between armed forces and security agencies all over the world. As we approach the 70th session of the General Assembly and the creation of new Sustainable Development Goals Post-2015 MDGs, we are going to have committees that deal with issues of Human Development such as the extension of public health infrastructure, and the issue of sustainable urban growth. In the area of our specialized agencies we will have the Security Council addressing the crisis in the Central African Republic; the Council of Finance Ministers of the European Union addressing the ongoing currency crisis of the Euro, and finally in our crisis committee we will have a historical examination of the 1952 Korean Peninsula war through the eyes of the ROK government and the commanders of the United Nations police mission.</p>

    <p class = "overview-letter-body-p">Registration is now&nbsp;<a href="http://goo.gl/forms/t1JlnCYcU9">open</a>!</p>

    <p class = "overview-letter-end-p">Warm regards,</p>
    <p class = "overview-letter-end-p">Jose Antonio Weymann<br />
    Secretary General of TritonMUN and Director General of Home Conference Affairs</p>
    </div>
	</div>
  </div>

<div class = "letter-sg-img img-responsive">
      <img src = "/assets/sg-img.jpg" style = "width: 250px; border-radius: 100%" >
    </div>
    <div class = "overview-letter-content">
  <p class = "overview-letter-greet">Esteemed Advisors and Honorable Delegates,</p>

<div class = "overview-letter-body">
  <p class = "overview-letter-body-p">It is with great pleasure that the Model United Nations at UC San Diego announces the 13th session of Triton Model United Nations to be hosted at Price Center from Saturday, April 23 to Sunday, April 24th, 2016.</p>

<p class = "overview-letter-body-p">This year, in the spirit of promoting an International Relations culture and Current Events we are going to have 12 committees related to the most pressing issues in the Global scenario. Our General Assembly committees will focus on issues of the United Nations plan for the future and possible UN reform. The specialized bodies and subcommittees will focus on issues of global security and international development. For the first time in the history of TritonMUN committees, we will have 4 crisis committees. One Joint Crisis Cabinet of the 2016 election will have very important members of the Democratic National Committee and very important members of the Republican National Committee battling it out to win the Presidency. Our second Joint Crisis Cabinet will be a historical simulation of a conflict that still has repercussions on international military policy, it also catalyzed the collapse of the Soviet Union. The Soviet-Afghan war with the two cabinets being the council of the mujahedeen and the Military Strategic Command of the Soviet Union.</p>

<p class = "overview-letter-body-p">These solutions will be reached through tactful debate by molding idealistic goals into realistic implementation strategies. Our Chairs are looking forward to discussing the complexities of international issues, with emphasis on excellence in research, critical analysis and creative problem solving. We will be hosting a guest speaker in each committee who specializes in the topic to offer delegates their realm of experience when evaluating the multifaceted nature of their topics. The guest speakers range from activists in San Diego’s United Nations Association, to distinguished researchers and internationally focused professionals.</p>

<p class = "overview-letter-body-p">As SANDIMUN takes its next step toward a new level of success, we hope delegates will seize this unique opportunity to participate in active debates, aiming to solve the pressing issues of our time.  We hope and anticipate that this conference will be a chance for delegates to improve themselves as human beings, as well as the condition of their fellow man.  I look forward to seeing you all at the conference.</p>

<p class = "overview-letter-end-p">Hope to see you in the Spring!</p>
<p class = "overview-letter-end-p">Jose Antonio Weymann <br />
Secretary General of TritonMUN and Director General of logistics for MUN at UCSD</p>
    </div>
  </div>
  </div>