<div class="container" style ='background-color:';>
<div class="row">    
<p class="text-center text-inline"></p>
 <div class="col-md-6 col-md-offset-3">
test
fbdjfbdkbf
dsfsf

sdfsf
dsf
sdfsd
fsd
fds
fds
fds
fsd
fsd
fds
fsd
fds

</div>
</div>
</div>



