<div class="container" style ='background-color:lightgrey';>
<div class="row">    
<p class="text-center text-inline"></p>
 <div class="col-md-6 col-md-offset-3">
<table class="table color1">
    <h1 class="text-center"><%=@pages.name%></h1>
     <tr>
       <td><h3><%=@pages.summary%></h3></td>   
          
     </tr>
     <tbody>
        <tr>
          <td><%=@pages.content.html_safe %></td>
          
        </tr>
      </tbody>
</table>

</div>
</div>
</div>


