// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;
//=require jquery-ui
//=require jquery-ui-timepicker-addon

// Active Admin's got SASS!

@import "bootstrap.min";
@import "admin_change";
@import "active_admin/mixins";
@import "active_admin/base";
@import "wigu/active_admin_theme";
//@import "active_skin";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }
#overview_category_id{ padding-right: 23px;}
#overview_year{padding-right: 23px;}

.col-date a{padding-right: 70px !important;}

form ol, form ul {
    list-style: none outside none;
    float: left !important; 
}
form ol >li label{margin-right: 22px;}


#ui-datepicker-div {
    background: none repeat scroll 0% 0% transparent;
    text-shadow: none;
    box-shadow: none;
    background-color: #5ea3d3;
}
#ui-datepicker-div{left:230.833px !important;}
.ui-datepicker table.ui-datepicker-calendar { left: -1px !important;}
.ui-datepicker .ui-datepicker-header .ui-datepicker-title {  line-height: 0.0em !important;}
.panel > h3 {
    font-weight:bold !important;   
}
form fieldset.inputs legend span {font-weight:bold !important}
input[type="file"] {
    float: left;
    padding-left:-1px;
    margin-left: 28px;
    width: 51%;
}
.row-image >td >img{width:50px !important;}
.col-image > img{width:33px;}
.row-image_url >td >img{width:50px !important;}
.col-image_url > img{width:33px;}
#home_gallery_image_url{margin-bottom:20px !important;}
.inline-hints >img{width:33px !important;}
#committee_is_active_input{padding-top:28px !important;margin-left:-75px !important;}
.boolean{margin-left:-48px;}
a, a:link, a:visited {
   color: #38678b; 
   text-decoration: none !important;
}
.dropdown-menu{min-width:50px !important;}
.dropdown:hover .dropdown-menu {
    display: block !important;
}
.dropdown-menu {
    margin-top: 0px !important;
}
td.col.col-description{
    width:1000px;
}
.cke{
    overflow: hidden;
}
