html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  -webkit-font-smoothing: antialiased;
}
/* Categories */
.faqtable {
  margin-left: 0px;
}
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-top: -50px;
}
.conference {
  position: relative;
  background-color: #FFFFFF;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  width: 100% !important;
  display: block;
}
.conference_row_2 { 
  height: 38%;
    width: 100%;
    display: inline-block;
}
.conference_row_3 { 
  height: 38%;
    width: 100%;
    display: inline-block;
}    
.conference_row_1 { 
  height: 117px;
} 
.navbar{
  margin-bottom: 0px !important;   
}
@media (min-width: 981px) {
  .conference {
    /*top: 50px;*/
  }
}
@media (min-width: 981px) {
  .conference_row {
    padding: 2% 0;
  }
}
.container,
.conference_row {
  width: 100%;
  margin: auto;
  position: relative;
}

.conference_column {
  float: left;
  background-size: cover;
  background-position: center;
}
@media (min-width: 981px) {
  .conference_row,
  .conference_column:last_child {
    margin-right: 0 !important;
  }
}
@media (min-width: 981px) {
  .conference_column_4_4 {
  width: 100%;
  }
}
@media (min-width: 981px) {
  .conference_column {
  margin-right: 2.5%;
  }
  .faqtable {
    margin-left: 290px;
  }
}
@media (min-width: 981px) {
  .conference_column_first {
    margin-left: 2.5%;
  }
}
@media (min-width: 981px) {
  .conference,
  .conference_row,
  .conference_column 
  .conference_module {
    margin-bottom: 0;
  }
}
@media (min-width: 981px) {
  .conference_column_4_4,
  .conference_module {
    /*margin-bottom: 2.75%;*/
  }
}
.conference_heading_text_center {
  text-align: center;
  margin: auto;
}
.conference_text {
  word-wrap: break-word;
}
@media (min-width: 981px) {
  .conference_column_1_3 {
    width: 29.666%;
  }
}
@media (min-width: 981px) {
  .conference_column_1_3,
  .conference_module {
    /*margin-bottom: 0%;*/
  }
}
@media (min-width: 981px) {
  .conference_column_4_4 {
    width: 100%;
  }
}
@media (min-width: 981px) {
  .conference_column_4_4 .conference_module {
    /*margin-bottom: 2.75%;*/
  }
}

@media (min-width: 981px){
  .conference_row_2{
    /*display:  inline-flex;*/
  }
  .conference_row_3{
    display:  inline-flex;
  }
}
h4 {
  font-size: 18px;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 24px;
}
.conference_blurb_container h4 a {
  font-size: 18px;
  color: #555;
  font-weight: 400;
}
.conference_blurb_container h4 a:hover {
  color: #1C3D78 ;
}
.conference_blurb_content {
  max-width: 550px;
  margin: 0 auto;
  position: relative;
  word-wrap: break-word;
}
.conference_blurb_image {
  text-align: center;
  margin-bottom: 30px;
}
.conference_blurb_container {
  display: table-cell;
  vertical-align: top;
  padding-left: 15px;
  padding-right: 15px;
}
.conference_register {
  background-image: url("register-bg.jpg");
}
.conference_parallax {
  overflow: hidden;
}
.conference_parallax_bg {
  transform: translate(0px, 96.8203125px);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  position: relative;
}
.conference_bg_layout_dark {
  color: #fff !important;
}
.conference_no_bg {
  padding: 0 !important;
}
.conference_promo {
  padding: 40px 60px;
  text-align: center;
}
.conference_promo_description {
  word-wrap: break-word;
}
.conference_promo_description h1 {
  color: #ececec;
  font-size: 32px;
  font-weight: 400;
  margin: 0;
  padding-top: 3%;
  padding-bottom: 3%;
}
a.conference_promo_button.conference_button {
  margin-bottom: 3%;
  color: #ececec !important;
}
a.conference_promo_button.conference_button.button-white-bg {
  margin-bottom: 3%;
  color: #2EA3F2 !important;
}
input.conference_promo_button.conference_button.button-white-bg {
  margin-bottom: 3%;
  color: #2EA3F2 !important;
}
.conference_promo_button {
  display: inline-block;
  color: inherit !important;
}
.conference_promo_button:hover {
  background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.2);
  border: 0px;
  padding: 0.4em 1.1em;
}
a.conference_promo_button.button-white-bg:hover {
  background: none repeat scroll 0% 0% rgba(204, 204, 204, 0.2);
  border: 0px;
  padding: 0.4em 1.1em;  
}
input.conference_promo_button.conference_button.button-white-bg:hover {
  background: none repeat scroll 0% 0% rgba(204, 204, 204, 0.2);
  border: 0px;  
}
.conference_button {
  font-size: 20px !important;
  font-weight: 500 !important;
  padding: 0.3em 1em;
  line-height: 1.7em !important;
  background: transparent;
  border: 2px solid;
  border-radius: 3px !important;
  transition: all 0.2s;
}

.conference_button:after {
  font-size: 32px;
  line-height: 1em;
  content: "\35";
  opacity: 0;
  position: absolute;
  margin-left: -1em;
  transition: all 0.2s;
}
.conference_title {
  background-image: url("conference-title.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
  /*margin-bottom: 20px;*/
}
@media (min-width: 981px) {
  .conference_column_fullwidth {
    padding: 0;
  }
  .saprator{
  height: 50px
}
}
.conference_column_fullwidth {
  padding: 0;
}
.conference_fullwidth_header {
  /*padding: 50px 0;*/
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.conference_text_align_left {
  text-align: left;
}
.conference_fullwidth_header
.conference_fullwidth_header_container.left {
  display: flex;
  flex-flow: row;
  width:100%;
}
.conference_fullwidth_header
.conference_fullwidth_header_container {
  position: relative;
  z-index: 3;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.conference_fullwidth_header
.conference_fullwidth_header_container.left
.header-content-container.center {
  align-self: center;
}
.conference_fullwidth_header
.conference_fullwidth_header_container.left
.header-content-container {
  width: 100%;
}
.conference_fullwidth_header
.conference_fullwidth_header_container.left
.header-content {
  text-align: left;
  /*margin-left: 4%;
  margin-right: 2%;*/
  color: black;
}
.conference_fullwidth_header
.header-content {
  padding: 10px;
}
.conference_fullwidth_header_subhead {
  display: block;
}

/* Speakers */
#people-section .people-main {
  background: none repeat scroll 0% 0%;
    list-style: none outside none;
    margin: 0px;
    text-align: left;
    padding: 0px;
}
#people-section .people-social {
  background: none repeat scroll 0% 0%;
    list-style: none outside none;
    margin: 0px 0px 20px;
    text-align: left;
    padding: 0px;
}
#people-section .people-main li {
    padding: 10px 0px;
    margin: 0px;
}
#people-section .people-main .people-img {
  margin: 0 auto;
  border-radius: 100%;
  display: block;
  width: 60%;
  height: auto;
  line-height: 1.7em;
}
#people-section .people-main .people-name {
  font-size: 18px;
}
#people-section .people-main li.less-on-bottom {
  margin-bottom: 0px;
  padding-bottom: 0px;
}
#people-section .people-main li.less-on-top {
  margin-top: 0px;
  padding-top: 0px;
}
#people-section .people-main span.people-position {
  color: #aaa;
}
#people-section .people-social span.social-menu-fb {
  margin-right: 5px;
}
#people-section .people-social span.social-menu-tw {
  margin-right: 5px;
}
#people-section ul.people-social {
  margin-top: 0px;
}
#people-section .people-main span.alumni-email {
  color: #999;
}
#people-section .people-main span.alumni-email:hover {
  color: #444;
}
.conference_column_fullwidth.conference_title > img {
    height: 150px;
    width: 100%;
}
.header-img{
  background-image: url(/assets/conference-title.jpg);
  background-size: cover;
}
.page-header-img {
  background-image: url(/assets/hex-bg-black.jpg);
  background-size: cover;
}
.about-header-img {
  background-image: url(/assets/hex-bg-black.jpg);
  background-size: cover;
}
.travel-header-img {
  background-image: url(/assets/geometic-bg-black.jpg);
  background-size: cover;
}
.sponsor-header-img {
  background-color: #305b74;
  background-size: cover;
}
.contact-header-img {
  background-image: url(/assets/ascend-bg.jpg);
  background-size: cover;
}
.button-icon-hider {
  display: none;
}
.conference_button:hover .button-icon-hider {
  display: -webkit-inline-box;
}
.nav-brand-logo img {
  height: 150%;
}
.inline-brand {
  display: -webkit-box;
}

/* Awards */
.awards-section {
  padding-bottom: 5%;
}
.awards-title {
  padding: 0% 0% 2% 0%;
}
span.travel-title {
  font-size: 26px;
  font-weight: 200;
  color: #666;
}
span.travel-time {
  font-size: 22px;
  font-weight: 100;
  color: #777;
}
.travel-img {
  padding: 0% 0% 2% 0%;
}
.award-list .award-list-heading {
  font-size: 24px;
  font-weight: 200;
  color: #555;
  padding-bottom: 0.5%;
}
ul.awards {
  list-style-type: none;
  font-weight: 200;
  color: #777;
}
span.award-recipient {
  font-weight: 300;
  color: #333;
}

.conference_blurb_image img {
    height: 200px;
    width: 188px;
}
@media (min-width: 981px) {
  .branch_column{
    float: left;
    width: 20%;
    text-align: center;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
  .branch_row{
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .new_container{
    height: 50%;
    background-color: white;
    margin: 5% 0%;
  }
}
.branch_column{
    text-align: center;
  }
.new_container{
  background-color: white;
}

/* Home Page */
span.marketable-line {
  font-size: 58px;
  font-weight: 100;
  text-align: center;
  color: #555;
}
.market-mun.col-md-12 {
  text-align: center;
  margin: 3% 0%;
  padding: 5% 0%;
  background-color: #F9F9F9;
}
.branch_blurb_container {
  margin-top: 5%;
}
h4.branch-title {
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 2px;
  color: #555;
}
p.branch-description {
  font-weight: 200;
  color: #555;
}

/* Secretariats - Home */

@media (min-width: 1281px) {
  .home-secretariat {
    height: 430px;
  }
}
.home-secretariat {
  text-align: center;
  background-color: #F9F9F9;
}
.home-secretariat-header {
  padding-top: 2%;
  text-align: center;
}
h3.home-secretariat-title {
  color: #18355B;
  font-size: 42px;
  margin: 2% auto;
  font-weight: 100;
  font-family: sans-serif, Helvetica Neue; 
}
.home-secretariat-list {
  width: 100%;
  display: -webkit-box;
  padding: 3% 0%;
}
.home-secretariat-info {
  width: 25%;
  margin: 0% 4%;
}
.home-secretariat-img > img {
  width: 200px;
  border-radius: 100%;
}
h4.home-secretariat-name {
  color: #18355B;
  font-size: 24px;
  text-align: center;
  font-weight: 200;
}
p.home-secretariat-position {
  color: #666;
  font-size: 22px;
  font-weight: 100;
}
.row {
  padding: 0;
  margin: 0;
}

/* Mailing List - Home */
.mailing-list {
  background-color: #FFFFFF;
}
.mailing-list-header {
  padding: 3% 0%;
  text-align: center;
  margin: auto;
}
h1.mailing-list-title  {
  font-size: 42px;
  line-height: 1.7em;
  color: #18355B;
  font-weight: 100;
  font-family: sans-serif, Helvetica Neue; 
}
#mc_embed_signup {
  background: transparent none repeat scroll 0 0;
  clear: left;
  font: 14px Helvetica,Arial,sans-serif;
  margin: 0 auto;
  width: 100%;
}
#mc_embed_signup .mc-field-group input.fname,
#mc_embed_signup .mc-field-group input.lname {
  border-radius: 0;
  display: inline;
  float: left;
  margin: 0 3%;
  padding: 1.8% 0;
  text-indent: 4%;
  width: 25%;
  background-color: #F1F1F1;
  color: #999;
  border: none;
  font-weight: 300;
}
#mc_embed_signup .mc-field-group input.email {
  border-radius: 0;
  display: inline;
  float: left;
  margin: 0 3%;
  padding: 1.8% 0;
  text-indent: 4%;
  width: 30%;
  background-color: #F1F1F1;
  color: #999;
  border: none;
  font-weight: 300;
}
#mc_embed_signup input {
  border: 1px solid #999;
}
.mc-field-group{
  padding-bottom: 8%;
}
#mc_embed_signup .button {
  background: transparent none repeat scroll 0 0;
  border: 3px solid #ffffff;
  border-radius: 0;
  clear: both;
  color: #ffffff;
  cursor: pointer;
  display: table;
  font-size: 14px;
  font-weight: normal;
  margin: 0 auto;
  padding: 10px 3%;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 300ms ease 0s;
  white-space: nowrap;
  width: auto;
}

/* Counter - Home */
.counter-boxes {
  padding-top: 2%;
}
.counter-hover.col-md-3:hover {
  background-color: #F9F9F9 !important;
}
.counter-table-cell {
  margin-bottom: 15%;
}
.counter-icon {
  text-align: center;
  padding: 10% 0%;
}
h3.counter-title {
  font-size: 12px;
  letter-spacing: 3px;
  text-align: center;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  padding: 8% 0;
  margin-bottom: 15%;
}
h3.counter-value {
  font-size: 98px;
  text-align: center;
  margin: 10% auto;
  font-weight: 100;
  color: #5E6469;
}

.mailing_list .three-col {
    padding-top: 30px;
}
.mailing_list ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.mailing_list .three-col li {
  float: left;
  width: 33.3333%;
}

.mailing_list .three-col li {
    text-align: center;
}
.mailing_list li {
    line-height: 20px;
}
.mailing_list .three-col li a.block {
    min-height: 350px;
}
.mailing_list .three-col li a.block {
    background: #fff none repeat scroll 0 0;
    border-top: 4px solid #fff;
    display: block;
    padding: 60px 20px;
    transition: background-color 0.2s ease 0s, border 0.2s ease 0s;
}

.mailing_list .icon {
    background: #222 none repeat scroll 0 0;
    margin: 0 auto 25px;
    padding: 18px 0;
    position: relative;
    width: 80px;
    z-index: 10;
}

.mailing_list h2 {
    color: #444;
    font-family: "brandon-grotesque",sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    margin-bottom: 0;
    text-transform: uppercase;
}
.mailing_list p.handle {
    color: #888;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 40px;
}

.mailing_list #instagram, .mailing_list .blog figure {
    margin: 0 auto;
    max-width: 240px;
}

@media(max-width: 780px){
  #mc_embed_signup .mc-field-group input.fname{
    width: 100%;
    margin: 0px;
  }
  #mc_embed_signup .mc-field-group input.lname{
    width: 100%;
    margin: 0px;
  }
  #mc_embed_signup .mc-field-group input.email{
    width: 100%;
    margin: 0px;
  }
}

/* Footer */
.footer-element {
  text-align: center;
  font-size: 48px;
  background-color: #FFFFFF;
  margin: 1% 0% 0%;
  padding: 5%;
}
.footer-icon {
  width: 60%;
  text-align: center;
  margin: 0% auto;
  background-color: #F9F9F9;
  padding: 5%;
}
.footer-fa-icon {
  color: #AAA;
}
.footer-fa-icon:hover {
  color: #18355B;
  background-color: #EEE;
}
.footer-title {
  text-align: center;
  margin-top: 5%;
  padding: 0;
}
h1.footer-title-text {
  font-size: 42px;
  line-height: 1.7em;
  color: #18355B;
  font-weight: 100;
  font-family: sans-serif, Helvetica Neue; 
}
/* Pages */
h1.pages-title {
  font-size: 28px;
  font-weight: 100;
  color: #777;
  padding-bottom: 3%;
  padding-left: 2%;
}
p.pages-description {
  color: #555;
  font-weight: 300;
  padding: 0% 2% 1%;
}
ul.pages-list {
  padding-bottom: 2%;
  padding-left: 5%;
  font-weight: 300;
  color: #555;
  list-style-type: circle;
}
.pages-block {
  padding-top: 3%;
  padding-bottom: 3%;
}
.image-text {
  font-style: oblique;
  color: #777;
  font-weight: 200;
  padding-top: 1%;
}

/* Sponsorship */
.panel-default > .sponsor-panel-heading {
  background-color: #FFFFFF;
  border-color: #DDD;
  text-align: center;
  padding: 15% 0% 15% 0%;
}
a.sponsor-tier-title {
  color: #777;
  font-size: 42px;
  font-weight: 100;
}
h2.sponsor-letter-title {
  font-size: 22px;
  font-weight: 300;
  color: #222;
}
.sponsor-letter-content {
  text-align: left;
  font-weight: 200;
}
h3.sponsor-letter-start {
  padding-top: 7%;
  font-weight: 300;
  color: #444;
}
.my-icon-class {
  float: right;
  color: #777 !important;
  font-size: 14px;
}
.my-icon-class:hover {
  color: #1C3D78 !important;
}
table.table {
  width: 100%;
  margin-bottom: 0%;
  border-collapse: collapse;
}
table, th, td {
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
th.sponsor-th-content {
  text-align: center;
  font-weight: 200;
  color: #666;
  vertical-align: middle !important;
}
th.last-col {
  border-right: 0;
}
th.first-col {
  width: 2%;
  text-align: left;
  font-weight: 200;
  color: #666;
}
/* Buttons */
.navbar-header button:hover {
  background-color: #eee;
}
.modal-close-button {
  background-color: transparent;
  font-weight: 100 !important;
  color: #DDD !important;
}
.modal-close-button:hover {
  color: #999 !important;
}
/* Committees Modal Box */
.glyphicon.glyphicon-plus.glyphicon-white-bg {
  position: absolute;
  top: 50%;
  font-size: 28px;
  font-weight: 100;
  color: #323951;
}
.btn-block {
  text-align: center;
  margin-top: 5%;
  font-size: 18px;
  font-weight: 200;
  color: #323951;
}
.modal_data {
  float: left;
}
.panel_data {
  font-weight: bold;
  font-size: 20px;
}
.committee-dias-name {
  font-weight: 400;
  font-size: 16px;
  padding-left: 1%;
  color: #444;
}
h4.committee-topic {
  padding-top: 1%;
  padding-bottom: 2%;
  font-weight: 200;
  color: #444;
}
.modal-title-header {
  font-weight: 200;
}
.committee-subheading {
  font-weight: 200 !important;
  font-size: 18px;
  color: #212121;
  width: 40% !important;
}
.committee-subheading-value {
  font-weight: 200;
  text-align: -webkit-right;
  width: 60%;
  color: #757575;
}
.topic-data {
  padding-top: 3%;
}
.topic-data .modal_data .committee-image-height {
  max-height: 200px;
  padding: 0% 0% 2% 0% !important;
}
.topic-data span.topic_desc p{
  padding-bottom: 2.5%;
}
.chair {
  width: 50%;
  border-bottom: 1px solid #999;
  margin: 1%;
  display: -webkit-box;
}
.vice-chair {
  width: 50%;
  border-bottom: 1px solid #999;
  margin: 1%;
  display: -webkit-box;
}
.topic-guide {
  width: 50%;
  border-bottom: 1px solid #999;
  margin: 1%;
  display: -webkit-box;
}

/* Overview Welcome Letter */
.overview-letter {
  display: -webkit-box;
}
.letter-sg-img.img-responsive {
  width: 35%;
  margin: 10% 5% 5% 5%;
}
.overview-letter-content {
  width: 60%;
  margin-left: 3%;
  margin-bottom: 5%;
}
p.overview-letter-greet {
  font-size: 20px;
  font-weight: 200;
  color: #212121;
  margin: 3% 0%;
}
.overview-letter-body {
  width: 80%;
}
p.overview-letter-body-p {
  color: #666;
  margin: 3% 0%;
  font-weight: 200;
}
p.overview-letter-end-p {
  color: #222;
  font-weight: 200;
  margin: 2% 0%;
}

/* Contact Us */
form input[type=submit] {
  display: inline-block;
  color: #2EA3F2 !important;
  font-size: 20px !important;
  font-weight: 500 !important;
  padding: 0.3em 1em !important;
  line-height: 1.7em !important;
  background: transparent;
  border: 2px solid !important;
  border-radius: 3px !important;
  transition: all 0.2s;
}
form input[type=submit]:hover {
  background: none repeat scroll 0% 0% rgba(204, 204, 204, .3) !important;
  border: 0 !important;
}
.contact-page {
  height: 100%;
  display: inline-table;
}
.contact-map {
  height: 80%;
  margin-top: 2%;
  padding: 5%;
  margin-bottom: 5%;
}
.col-sm-12.col-md-6.contact-form {
  margin-left: 5%;
  margin-bottom: 5%;
}
h1.contact-form-title {
  font-size: 32px;
  font-weight: 200;
  color: #323951;
  margin-bottom: 3%;
}
.name_field.col-md-6.col-sm-12 {
  float: left;
  width: 50%;
  padding-left: 0;
  padding-right: 0;
}
input#contact_name {
  border: none;
  border-radius: 0;
  color: #999;
  padding: 5%;
  margin-bottom: 5%;
  font-weight: 300;
}
input#contact_email {
  border: none;
  border-radius: 0;
  color: #999;
  padding: 5%;
  margin-bottom: 5%;
  font-weight: 300; 
}
textarea#contact_message {
  border: none;
  border-radius: 0;
  color: #555;
  font-weight: 300;
}
.name_field > input{
  width: 95% !important;
  background-color: #eee !important;
}

.email_field{
  float: left;
  width: 50%;
}
.email_field > input {
    width: 85% !important;
    background-color: #eee !important;
}
.message_field > textarea {
  background-color: #eee !important;
  width: 92.5% !important;
}
.form_submit {
  float: right;
  padding-right: 7%;
  padding-top: 2%;
}
.col-sm-8 > h1 {
  padding-bottom: 10px;
}
input.contact-name {
  background-color: #eee;
}
.contact-about {
  font-weight: 200;
  color: #777;
  line-height: 1.7em;
  margin-bottom: 5%;
}
.contact-details {
  font-weight: 200;
  color: #333;
}
span.contact-detail-title {
  font-weight: 100;
  font-size: 18px;
}

/* Home Galleries */

.modal-dialog {
  width: 60%;
  top:1%;
}
.thumbnail {margin-bottom:6px;}

.carousel-control.left,.carousel-control.right{
  background-image:none;
}
