html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
	-webkit-font-smoothing: antialiased;
}
.faqtable{margin-left:0px;}
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-top: -50px;
}
.conference {
  position: relative;
  background-color: #FFFFFF;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  width: 100% !important;
  display: block;
}
.conference_row_2 { 
	height: 38%;
    width: 100%;
    display: inline-block;
}
.conference_row_3 { 
	height: 38%;
    width: 100%;
    display: inline-block;
}    
.conference_row_1 { 
	height: 117px;
} 
.navbar{
	margin-bottom: 0px !important;   
}
@media (min-width: 981px) {
  .conference {
	  /*top: 50px;*/
  }
}
@media (min-width: 981px) {
  .conference_row {
    padding: 2% 0;
  }
}
.container,
.conference_row {
  width: 100%;
  margin: auto;
  position: relative;
}
.conference_column {
	/*float: left;*/
	background-size: cover;
	background-position: center;
}
@media (min-width: 981px) {
	.conference_row,
	.conference_column:last_child {
		margin-right: 0 !important;
	}
}
@media (min-width: 981px) {
	.conference_column_4_4 {
		width: 100%;
	}
}
@media (min-width: 981px) {
  .conference_column {
	margin-right: 5.5%; 
  }
  .faqtable { 
    margin-left:290px;
  }
}
@media (min-width: 981px) {
	.conference,
	.conference_row,
	.conference_column 
	.conference_module {
		margin-bottom: 0;
	}
}
@media (min-width: 981px) {
	.conference_column_4_4,
	.conference_module {
		/*margin-bottom: 2.75%;*/
	}
}
.conference_heading_text_center {
	text-align: center;
	margin: auto;
}
.conference_text {
	word-wrap: break-word;
}
@media (min-width: 981px) {
  .conference_column_1_3 {
  	width: 29.666%;
  }
}
@media (min-width: 981px) {
	.conference_column_1_3,
	.conference_module {
		/*margin-bottom: 0%;*/
	}
}
@media (min-width: 981px) {
	.conference_column_4_4 {
		width: 100%;
	}
}
@media (min-width: 981px) {
	.conference_column_4_4 .conference_module {
		/*margin-bottom: 2.75%;*/
	}
}

@media (min-width: 981px){
	.conference_row_2{
		display:  inline-flex;
	}
	.conference_row_3{
		display:  inline-flex;
	}
}
.conference_blurb_container a {
	padding-bottom: 5px;
	color: #000;
}
h4 {
	font-size: 18px;
}
h1 {
	font-size: 30px;
}
h2 {
	font-size: 24px;
}
.conference_blurb_content {
	max-width: 550px;
	margin: 0 auto;
	position: relative;
	word-wrap: break-word;
}
.conference_blurb_image {
	text-align: center;
	margin-bottom: 30px;
}
.conference_blurb_container {
	display: table-cell;
	vertical-align: top;
	padding-left: 15px;
	padding-right: 15px;
}
.conference_register {
	background-image: url("register-bg.jpg");
	height:200px;
}
.conference_parallax {
	overflow: hidden;
}
.conference_parallax_bg {
	transform: translate(0px, 96.8203125px);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	bottom: 0;
	left: 0;
	width: 100%;
	height: auto;
	position: relative;
}
.conference_bg_layout_dark {
	color: #fff !important;
}
.conference_no_bg {
	padding: 0 !important;
}
.conference_promo {
	padding: 40px 60px;
	text-align: center;
}
.conference_promo_description {
	padding-bottom: 20px;
	word-wrap: break-word;	
}
.conference_promo_button {
	display: inline-block;
	color: inherit;
}
.conference_button {
	font-size: 20px;
	font-weight: 500;
	padding: 0.3em 1em;
	line-height: 1.7em !important;
	background: transparent;
	border: 2px solid;
	border-radius: 3px;
	transition: all 0.2s;
}
.conference_button:after {
	font-size: 32px;
	line-height: 1em;
	content: "\35";
	opacity: 0;
	position: absolute;
	margin-left: -1em;
	transition: all 0.2s;
}
.conference_title {
	background-image: url("register-bg.jpg");
	background-size: cover;
	height: 100%;
	width: 100%;
	/*margin-bottom: 20px;*/
}
@media (min-width: 981px) {
	.conference_column_fullwidth {
		padding: 0;
	}
	.saprator{
	height: 50px
}
}
.conference_column_fullwidth {
	padding: 0;
}
.conference_fullwidth_header {
	/*padding: 50px 0;*/
	position: relative;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
.conference_text_align_left {
	text-align: left;
}
.conference_fullwidth_header
.conference_fullwidth_header_container.left {
	display: flex;
	flex-flow: row;
	width:100%;
}
.conference_fullwidth_header
.conference_fullwidth_header_container {
	position: relative;
	z-index: 3;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
.conference_fullwidth_header
.conference_fullwidth_header_container.left
.header-content-container.center {
	align-self: center;
}
.conference_fullwidth_header
.conference_fullwidth_header_container.left
.header-content-container {
	width: 100%;
}
.conference_fullwidth_header
.conference_fullwidth_header_container.left
.header-content {
	text-align: left;
	/*margin-left: 4%;
	margin-right: 2%;*/
	color: black;
}
.conference_fullwidth_header
.header-content {
	padding: 10px;
}
.conference_fullwidth_header_subhead {
	display: block;
}

/* Speakers */
#people-section .people-main {
	background: none repeat scroll 0% 0%;
    list-style: none outside none;
    margin: 0px;
    text-align: left;
    padding: 0px;
}
#people-section .people-social {
	background: none repeat scroll 0% 0%;
    list-style: none outside none;
    margin: 0px 0px 20px;
    text-align: left;
    padding: 0px;
}
#people-section .people-main li {
    padding: 10px 0px;
    margin: 0px;
}
#people-section .people-main .people-img {
	margin: 0 auto;
	border-radius: 100%;
	display: block;
	width: 60%;
	height: auto;
	line-height: 1.7em;
}
#people-section .people-main .people-name {
	font-size: 18px;
}
#people-section .people-main li.less-on-bottom {
	margin-bottom: 0px;
	padding-bottom: 0px;
}
#people-section .people-main li.less-on-top {
	margin-top: 0px;
	padding-top: 0px;
}
#people-section .people-main span.people-position {
	color: #aaa;
}
#people-section .people-social span.social-menu-fb {
	margin-right: 5px;
}
#people-section .people-social span.social-menu-tw {
	margin-right: 5px;
}
#people-section ul.people-social {
	margin-top: 0px;
}
.conference_column_fullwidth.conference_title > img {
    height: 150px;
    width: 100%;
}
.header-img{
  background-image: url(/assets/conference_title.jpg);
  text-align: center !important;
  padding-top: 45px !important;
  padding-bottom: 45px !important;
  width: 100%;
}
