html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
	-webkit-font-smoothing: antialiased;
}
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-top: -50px;
}
.conference {
  position: relative;
  background-color: #FFFFFF;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 981px) {
  .conference {
    padding: 4% 0;  
  }
}
@media (min-width: 981px) {
  .conference_row {
    padding: 2% 0;
  }
}
.container,
.conference_row {
  width: 80%;
  max-width: 1080px;
  margin: auto;
  position: relative;
}
.conference_column {
	float: left;
	background-size: cover;
	background-position: center;
}
@media (min-width: 981px) {
	.conference_row,
	.conference_column:last_child {
		margin-right: 0 !important;
	}
}
@media (min-width: 981px) {
	.conference_column_4_4 {
		width: 100%;
	}
}
@media (min-width: 981px) {
	.conference_column {
		margin-right: 5.5%;
	}
}
@media (min-width: 981px) {
	.conference,
	.conference_row,
	.conference_column 
	.conference_module {
		margin-bottom: 0;
	}
}
@media (min-width: 981px) {
	.conference_column_4_4,
	.conference_module {
		margin-bottom: 2.75%;
	}
}
.conference_heading_text_center {
	text-align: center;
	margin: auto;
}
.conference_text {
	word-wrap: break-word;
}
@media (min-width: 981px) {
  .conference_column_1_3 {
  	width: 29.666%;
  }
}
@media (min-width: 981px) {
	.conference_column_1_3,
	.conference_module {
		margin-bottom: 9.27%;
	}
}
@media (min-width: 981px) {
	.conference_column_4_4 {
		width: 100%;
	}
}
@media (min-width: 981px) {
	.conference_column_4_4 .conference_module {
		margin-bottom: 2.75%;
	}
}
.conference_blurb h4 {
	padding-bottom: 5px;
}
h4 {
	font-size: 18px;
}
h1 {
	font-size: 30px;
}
h2 {
	font-size: 24px;
}
.conference_blurb_content {
	max-width: 550px;
	margin: 0 auto;
	position: relative;
	word-wrap: break-word;
}
.conference_blurb_image {
	text-align: center;
	margin-bottom: 30px;
}
.conference_blurb_container {
	display: table-cell;
	vertical-align: top;
	padding-left: 15px;
	padding-right: 15px;
}
.conference_register {
	background-color: #1087ED !important;
}
.conference_parallax {
	overflow: hidden;
}
.conference_parallax_bg {
	background-image: url(assets/register-bg.jpg);
	height: 383.5px;
	transform: translate(0px, 96.8203125px);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.conference_bg_layout_dark {
	color: #fff !important;
}
.conference_no_bg {
	padding: 0 !important;
}
.conference_promo {
	padding: 40px 60px;
	text-align: center;
}
.conference_promo_description {
	padding-bottom: 20px;
	word-wrap: break-word;	
}
.conference_promo_button {
	display: inline-block;
	color: inherit;
}
.conference_button {
	font-size: 20px;
	font-weight: 500;
	padding: 0.3em 1em;
	line-height: 1.7em !important;
	background: transparent;
	border: 2px solid;
	border-radius: 3px;
	transition: all 0.2s;
}
.conference_button:after {
	font-size: 32px;
	line-height: 1em;
	content: "\35";
	opacity: 0;
	position: absolute;
	margin-left: -1em;
	transition: all 0.2s;
}
