/*
 * Style tweaks
 * --------------------------------------------------
 */
body {
  padding-top: 50px;
  background-color: #f5f5f5;
}
footer {
  padding-left: 15px;
  padding-right: 15px;
  background-color: #fff;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -33%;
  }

  .row-offcanvas-left.active {
    left: 33%;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 33%;
    margin-left: 10px;
  }
}


/* Sidebar navigation */
.nav-sidebar {
  background-color: #f5f5f5;
  margin-right: -15px;
  margin-bottom: 20px;
  margin-left: -15px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a {
  color: #fff;
  background-color: #428bca;
}

/*
 * Main content
 */

.main {
  padding: 20px;
  background-color: #fff;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

.carousel {
  margin-top: 20px;
  margin-bottom: 0px !important;
}

.carousel_ind {
  bottom: -465px;
  left: 40%;
}

.col-sm {
  margin-left: 2px;
  margin-right: -50px;
  /*padding-top: 20px;*/
  /*width: 16%;*/
  float: left;
}
.main_image{
  overflow: hidden;
  width: 70%;
  margin: 5% auto 2%;
}
.second_img{
  width: 30%;
  overflow: hidden;
  padding-left: 10px;
}

.second_img img {
  height: 234px;
  overflow: hidden;
  width: 385px;
}

.side_img_2{
  padding-top: 5px;
}


.main_image img {
    height: 341px;
    overflow: hidden;
    width: 1012px;
    margin-top: 2%;
}
.thumb {
  width: 100%;
  cursor: pointer;
  /*float: left;*/
  margin-top: 10px;
}
.carousel-indicators .active{
  background-color: red;
  height: 100%;
  margin: 0;
  width: 100%;
  margin-top: 10px;
  border: 2px solid black;
}
 .thumb img {
  /*width: 50%;*/
  /*margin: 2px;*/
  margin-bottom: -5px; 

}
.thumb img {
  width: 100%;  
}
.new_class{
  float: left;
  width: 14%;
}
.new_class .clearfix, .carousel, .carousel-inner, .item {
  width: 100%;
}

.caption {
  color: #fff;
  right: 10px;
  top: 180px;
}
.caption_1 {
  color: #fff;
  right: 10px;
  top: 415px;
}
/*set slider to slide bottom to top*/

.vertical .carousel-inner {
  height: 100%;
}

.carousel.vertical .item {
   -webkit-transition: 0.6s ease-in-out top;
   -moz-transition: 0.6s ease-in-out top;
   -ms-transition: 0.6s ease-in-out top;
   -o-transition: 0.6s ease-in-out top;
   transition: 0.6s ease-in-out top;
}

.carousel.vertical .active {
   top: 0;
}

.carousel.vertical .next {
   top: 400px;
}

.carousel.vertical .prev {
   top: -400px;
}

.carousel.vertical .next.left,
.carousel.vertical .prev.right {
   top: 0;
}

.carousel.vertical .active.left {
   top: -400px;
}

.carousel.vertical .active.right {
 top: 400px;
}

.carousel.vertical .item {
  left: 0;
}
.main-low-margin {
  margin-top: 3%;
}
/* Deadlines */
#pricing-section .plan-main {
  background: none repeat scroll 0% 0% #FFF;
  list-style: none outside none;
  margin: 0px 0px 20px;
  text-align: center;
  padding: 0px;
  /*border: 1px solid #E9E9E9;*/
}
#pricing-section .plan-main li.plan-name {
  font-size: 26px;
  font-weight: 100;
  color: #444;
}
#pricing-section .plan-main li.plan-date {
  border-bottom: 1px solid #EEE;
  padding: 0 !important;
  font-weight: 200;
}
#pricing-section .plan-main li {
  padding: 10px 0px;
  margin: 0px;
}
#pricing-section .plan-main span.plan-dollar {
  vertical-align: top;
  color: #777;
}
#pricing-section .plan-main span.plan-delegate {
  vertical-align: baseline;
  color: #777;
}
#pricing-section .plan-main li.plan-list-view {
  border-bottom: 1px solid #EEE;
  padding: 0 !important;
  font-weight: 200;
}
#pricing-section .plan-main span.plan-price {
  color: #1C3D78;
  /*padding: 15px 0px;*/
  font-size: 72px;
  font-weight: 100;
}
#pricing-section .plan-main li.plan-info {
  color: #000;
  text-align: center;
  margin: 0px 15px;
}
#pricing-section .plan-main li.plan-action {
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 0px none;
}

/* Schedules */
.schedule-box {
  color: #444;
  padding-top: 1%;
  padding-bottom: 3%;
}
.schedule-date h1 {
  text-align: left;
  font-size: 20px;
  font-weight: 300;
  padding-left: 31%;
  padding-bottom: 2%;
  color: #1C3D78;
}
.events {
  text-align: left;
  padding-left: 31%;
}
.events .activity-column {
  float: left;
  padding-left: 10%;
  color: #464d52;
}
.events .activity-column .event-activity {
  font-weight: 200;
}
.events .activity-column .event-location {
  color: #777;
  font-style: oblique;
  font-size: 12px;
  font-weight: 200;
}
.events .time-column {
  float: left;
  text-align: left;
  color: #464d52;
  font-weight: 200;
}
/* Brand */
#mainNav .white-bg {
  background-color: #fff !important;
  padding: 1% !important;
  color: #666;
}
#mainNav .navbar-header .brand-name {
  color: #666;
  font-size: 24px;
  font-weight: 200;
}
a.navbar-brand.page-scroll.brand-name:hover {
  color: #1C3D78 !important;
}
