<div class = "container">
  <div class="main-low-margin col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 margin-top-100 ">
    <div id = "pricing-section" class = "row">
      <div class="col-md-12 col-sm-12">
        <ul class="plan-main" style = "margin-bottom: 10%;">
          <li class="plan-name">Coming Soon</li>
          <li>For Inquiries Please Contact:</li>
          <li>
           John Murillo
          </li>
          <li>
            Chief-of-Staff
          </li>
          <li><a href="mailto:jpmurill@ucsd.edu?" target="_top">jpmurill@ucsd.edu</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>