<div class="conference">
  <div class="conference_row conference_row_1">
      <div class = "conference_column conference_column_4_4">
        <div class = "conference_text conference_module conference_heading_text_center">
          <h1>TritonMUN XI</h1>
          <h2>Spring 2015</h2>
        </div>
      </div>
  </div>

  <div class = "conference_row conference_row_2">
    <div class = "conference_column conference_column_1_3">
      <div class = "conference_blurb conference_module conference_heading_text_center">
        <div class = "conference_blurb_content">
          <div class = "conference_blurb_image">
            <img src = "assets/conference-1.jpg" alt = "...">
          </div>
          <div class = "conference_blurb_container">
            <h4>Overview</h4>
            Donec at euismod nibh, eu bibendum quam. Nullam non gravida purus, nec  eleifend tincidunt nisi. Fusce at purus in massa laoreet
          </div>
        </div>
      </div>
    </div>
    <div class = "conference_column conference_column_1_3">
      <div class = "conference_blurb conference_module conference_heading_text_center">
        <div class = "conference_blurb_content">
          <div class = "conference_blurb_image">
            <img src = "assets/conference-2.jpg" alt = "...">
          </div>
          <div class = "conference_blurb_container">
            <h4>Schedule</h4>
            Donec at euismod nibh, eu bibendum quam. Nullam non gravida purus, nec  eleifend tincidunt nisi. Fusce at purus in massa laoreet
          </div>
        </div>
      </div>
    </div>
    <div class = "conference_column conference_column_1_3">
      <div class = "conference_blurb conference_module conference_heading_text_center">
        <div class = "conference_blurb_content">
          <div class = "conference_blurb_image">
            <img src = "assets/conference-3.jpg" alt = "...">
          </div>
          <div class = "conference_blurb_container">
            <h4>Committees</h4>
            Donec at euismod nibh, eu bibendum quam. Nullam non gravida purus, nec  eleifend tincidunt nisi. Fusce at purus in massa laoreet
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class = "conference_row conference_row_3">
    <div class = "conference_column conference_column_1_3">
      <div class = "conference_blurb conference_module conference_heading_text_center">
        <div class = "conference_blurb_content">
          <div class = "conference_blurb_image">
            <img src = "assets/conference-4.jpg" alt = "...">
          </div>
          <div class = "conference_blurb_container">
            <h4>Speakers</h4>
            Donec at euismod nibh, eu bibendum quam. Nullam non gravida purus, nec  eleifend tincidunt nisi. Fusce at purus in massa laoreet
          </div>
        </div>
      </div>
    </div>
    <div class = "conference_column conference_column_1_3">
      <div class = "conference_blurb conference_module conference_heading_text_center">
        <div class = "conference_blurb_content">
          <div class = "conference_blurb_image">
            <img src = "assets/conference-5.jpg" alt = "...">
          </div>
          <div class = "conference_blurb_container">
            <h4>Deadlines</h4>
            Donec at euismod nibh, eu bibendum quam. Nullam non gravida purus, nec  eleifend tincidunt nisi. Fusce at purus in massa laoreet
          </div>
        </div>
      </div>
    </div>
    <div class = "conference_column conference_column_1_3">
      <div class = "conference_blurb conference_module conference_heading_text_center">
        <div class = "conference_blurb_content">
          <div class = "conference_blurb_image">
            <img src = "assets/conference-6.jpg" alt = "...">
          </div>
          <div class = "conference_blurb_container">
            <h4>FAQs</h4>
            Donec at euismod nibh, eu bibendum quam. Nullam non gravida purus, nec  eleifend tincidunt nisi. Fusce at purus in massa laoreet
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class = "conference conference_register conference_parallax">
  <div class = "conference_parallax_bg">
  </div>
  <div class = "conference_row conference_row_4">
    <div class = "conference_column conference_column_4_4">
      <div class = "conference_promo conference_module conference_bg_layout_dark conference_heading_text_center conference_no_bg">
        <div class = "conference_promo_description">
          <h1>Look No Further. Register Today</h1>
        </div>
        <a class = "conference_promo_button conference_button" href = "https://www.google.com">
          Register Now
        </a>
      </div>
    </div>
  </div>
</div>
