<div class = "footer">
  <div class = "col-md-12 footer-title">
    <h1 class = "footer-title-text">Keep in Touch<h1>
  </div>
  <div class = "col-md-6 footer-element">
    <a href = "https://www.facebook.com/ModelUnitedNationsAtUcsd">
      <div class = "footer-icon footer-fa-icon">
        <span class = "fa fa-facebook"></span>
      </div>
    </a>
  </div>
  <div class = "col-md-6 footer-element">
    <a href = "mailto:tritonmun.ucsd@gmail.com">
      <div class = "footer-icon footer-fa-icon">
        <span class = "fa fa-envelope"></span>
      </div>
    </a>
  </div>
</div>