<div class = "footer col-md-12">
  <a href = "https://www.facebook.com/ModelUnitedNationsAtUcsd">
    <span class = "fa fa-facebook fa-footer-fb"></span>
  </a>
  <a href = "mailto:tritonmun.ucsd@gmail.com">
    <span class = "fa fa-paper-plane fa-footer-mail"></span>
  </a>
  <br />
  <span class = "footer-brand">2015 MUN at UCSD</span>
</div>